<%=form_tag '/result', method: :get, :class=>"form-inline justify-content-center pt-5 pb-5" do %>
	<%=text_field_tag :location, nil, placeholder: "Ex. Cleveland, OH", :class=>"form-control form-control-lg mr-3" %>
	<%= button_tag 'Search', :class=>" btn btn-info btn-lg text-center", data: { disable_with: "<span class='spinner-border spinner-border' role='status' aria-hidden='true'></span>Searching..."} %>
<% end %>