<div class="home">
	<div class="container px-0">
		<div class="jumbotron jumbotron-fluid pt-0">
			<h1 class="display-4 text-center text-white">what should i</h1>
		</div>
	</div>
	<div class="container food text-center">
		<%= render 'search' %>
	</div>
</div>