<v-result :restaurants="<%= @restaurants.to_json %>" inline-template>
	<div class="results text-center">
		<div class="container px-0">
			<div class="jumbotron jumbotron-fluid">
			</div>
		</div>
		<div class="container result px-0">
			<div class="restaurant row justify-content-center pt-5">
				<div v-if="restaurant.photo" class="restaurant-image col-md-4">
					<img :src="imgSrc" alt="image of restaurant"/>
				</div>
				<div class="restaurant-info col-md-6" :class="{'text-center': !this.restaurant.photo}">
					<strong><div v-text="restaurant.name" class="restaurant-name"></div></strong>
					<div v-text="restaurant.address"></div>
					<div class="d-inline-flex">
						<div v-text="restaurant.city" class="pr-1"></div>
						<div v-text="restaurant.state" class="pr-1"></div>
						<div v-text="restaurant.zipCode"></div>
					</div>
					<a :href="directionsURL" target="_blank" class="d-block">Get Directions</a>
					<div v-if="getReview" class="restaurant-review pt-3">
						{{ getReview }}
					</div>
				</div>
			</div>
			<div class="pt-3 pb-3">
				<button @click=getRestaurant() class="btn btn-info btn-lg">meeeehh</button>
			</div>
		</div>
	</div>
</v-result>