<div class="results text-center">
	<div class="container">
		<div class="jumbotron jumbotron-fluid">
		</div>
	</div>
	<div class="container">
		<div class="result d-flex flex-column justify-content-center">
			<% if @eatHere %>
				<div class="restaurant-info pt-4">
					<%= render 'eatHere' %>
				</div>
				<div class="pt-3 pb-4">
					<%= render 'reload' %>
				</div>
			<% else %>
				<div class="pt-5 pb-4">
					<%= render 'noResult' %>
				</div>
			<% end %>
		</div>
	</div>
</div>