<v-result :restaurants="<%= @restaurants.to_json %>" inline-template>
	<div class="results text-center">
		<div class="container">
			<div class="jumbotron jumbotron-fluid">
			</div>
		</div>
		<div class="container">
			<div class="result">
				<div class="restaurant-info pt-4">
					<div v-text="restaurant.name" class="font-weight-bold"></div>
					<div v-text="restaurant.address"></div>
					<div class="d-inline-flex">
						<div v-text="restaurant.city" class="pr-1"></div>
						<div v-text="restaurant.state" class="pr-1"></div>
						<div v-text="restaurant.zipCode"></div>
					</div>
				</div>
				<div class="pt-3 pb-4">
					<button @click=getRestaurant() class="btn btn-info">meeeehh</button>
				</div>
			</div>
		</div>
	</div>
</v-result>