// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.home {

	.jumbotron {
		background-image: url('main-banner.jpg');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: auto 100%;;
		height:500px;

		.title {
			color: white;
		}
	}

	.food {
		background-color: white;
		border: white;
		border-radius: 5px;
	}
}

.results {
	.jumbotron {
		background-image: url('results-banner.jpg');
		background-size: auto 100%;
		background-position: center center;
		background-repeat: no-repeat;
		height: 500px;
	}

	.result {
		background-color: white;
		border: white;
		border-radius: 5px;
	}

}