<nav class="navbar navbar-light bg-white sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/">
			<%= image_tag("restaurant.png", class: "navbar-logo") %>
      Eat Stuff
    </a>
  </div>
</nav>
